<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../dist/css/paymentInformation/auth.min.css">
</head>
<body>
    <button class="singinanniu">singin/singup</button>
    <div class="mask_wrapper">
        <div class="wrapper">
            <div class="closebtn"></div>
            <div class="up_in_wrapper">
                <div class="singin_wrapper"></div>
                <div class="singup_wrapper"></div>
            </div>
        </div>
    </div>
</body>
</html>