{% extends 'bases/front_base.html' %}
{% block yangshiyinrus %}
    <link rel="stylesheet" href="{% static "css/online_class/online_class.min.css" %}">
{% endblock %}
{% block mains %}
    <div class="main">
        <div class="class_daohang">
            <div class="libiao">
                <div class="title"><h3>在线课堂</h3></div>
                <ul class="daohang">
                    <li><a href="">最新课堂</a></li>
                    <li><a href="">创业课堂</a></li>
                    <li><a href="">明星案例</a></li>
                    <li><a href="">创业知识</a></li>
                </ul>
            </div>
        </div>
        <div class="waraper">
            <ul class="classlibiao">
                <a href=""><li>
                    <div class="shang"><img src="http://static-image.xfz.cn/1513577022_550.png" alt=""></div>
                    <div class="xia">
                        <p class="title">对赌是什么 该不该做对赌</p>
                        <span class="zuozhe">知了课堂CEO</span>
                        <span class="money">￥29.0</span>
                    </div>
                </li></a>
                <a href=""><li>
                    <div class="shang"><img src="http://static-image.xfz.cn/1513577022_550.png" alt=""></div>
                    <div class="xia">
                        <p class="title">对赌是什么 该不该做对赌</p>
                        <span class="zuozhe">知了课堂CEO</span>
                        <span class="money">￥29.0</span>
                    </div>
                </li></a>
                <a href=""><li>
                    <div class="shang"><img src="http://static-image.xfz.cn/1513577022_550.png" alt=""></div>
                    <div class="xia">
                        <p class="title">对赌是什么 该不该做对赌</p>
                        <span class="zuozhe">知了课堂CEO</span>
                        <span class="money">￥29.0</span>
                    </div>
                </li></a>
                <a href=""><li>
                    <div class="shang"><img src="http://static-image.xfz.cn/1513577022_550.png" alt=""></div>
                    <div class="xia">
                        <p class="title">对赌是什么 该不该做对赌</p>
                        <span class="zuozhe">知了课堂CEO</span>
                        <span class="money">￥29.0</span>
                    </div>
                </li></a>
                <a href=""><li>
                    <div class="shang"><img src="http://static-image.xfz.cn/1513577022_550.png" alt=""></div>
                    <div class="xia">
                        <p class="title">对赌是什么 该不该做对赌</p>
                        <span class="zuozhe">知了课堂CEO</span>
                        <span class="money">￥29.0</span>
                    </div>
                </li></a>
                <a href=""><li>
                    <div class="shang"><img src="http://static-image.xfz.cn/1513577022_550.png" alt=""></div>
                    <div class="xia">
                        <p class="title">对赌是什么 该不该做对赌</p>
                        <span class="zuozhe">知了课堂CEO</span>
                        <span class="money">￥29.0</span>
                    </div>
                </li></a>
                <a href=""><li>
                    <div class="shang"><img src="http://static-image.xfz.cn/1513577022_550.png" alt=""></div>
                    <div class="xia">
                        <p class="title">对赌是什么 该不该做对赌</p>
                        <span class="zuozhe">知了课堂CEO</span>
                        <span class="money">￥29.0</span>
                    </div>
                </li></a>
                <a href=""><li>
                    <div class="shang"><img src="http://static-image.xfz.cn/1513577022_550.png" alt=""></div>
                    <div class="xia">
                        <p class="title">对赌是什么 该不该做对赌</p>
                        <span class="zuozhe">知了课堂CEO</span>
                        <span class="money">￥29.0</span>
                    </div>
                </li></a>
                <a href=""><li>
                    <div class="shang"><img src="http://static-image.xfz.cn/1513577022_550.png" alt=""></div>
                    <div class="xia">
                        <p class="title">对赌是什么 该不该做对赌</p>
                        <span class="zuozhe">知了课堂CEO</span>
                        <span class="money">￥29.0</span>
                    </div>
                </li></a>


            </ul>
        </div>
    </div>
{% endblock %}


