.mask_wrapper{
  .wrapper{
    width: 400px;
    margin: auto;
    background: #6d85ac;
    overflow: hidden;
    display: none;

    .closebtn{
      width: 100%;
      height: 41px;
      background: #fff3cc;
    }
    .up_in_wrapper{
      width: 800px;
      .singin_wrapper{
        width: 400px;
        height: 400px;
        background: blueviolet;
        float: left;
      }
      .singup{
        width: 400px;
        height: 400px;
        background: yellow;
        float: right;
      }
    }

  }
}