.mask_wrapper{
  display: none;
  width: 100%;
  height: 900px;
  background: #878787;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .wrapper{
    width: 400px;
    margin: auto;
    //background: #ffffff;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .close_hezi{
      width: 100%;
      height: 41px;
      background: #ffffff;
      .close-btn{
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        font-size: 22px;
        color: #878787;
        cursor: pointer;
      }
    }
    .up_in_wrapper{
      width: 800px;
      margin-left: 0px;
      ul{
        padding: 0px;
        margin-top: 20px;
        margin-bottom: 40px;
        li{
          list-style: none;
          margin-top: 20px;
          margin-left: 20px;
          width: 350px;
          overflow: hidden;
          }
        }
      .qiehuanbtn{
        width: 380px;
        margin: auto;
        margin-top: 20px;
        border-bottom: 1px solid #c9c9c9;
        overflow: hidden;
        .title{
          font-size: 16px;
          float: left;
          margin-right: 10px;
          color: #212121;
          border-bottom: 3px solid #5c87d9;
        }
        .qiehuan{
          font-size: 16px;
          float: right;
          margin-left: 10px;
          color: #5c87d9;
          cursor: pointer;
        }
      }
      .form-control{
        width: 350px;
      }
      .singin_wrapper{
        width: 400px;
        background: #ffffff;
        float: left;
      }
      .singup_wrapper{
        width: 400px;
        background: #ffffff;
        float: right;
        ul{
          li{
            list-style: none;
          }
        }
      }
    }

  }
}