{% extends 'bases/front_base.html' %}
{% block mains %}
        <div class="main">
        <div class="waraper">
            <div class="left_wrapper">
                <div class="scroll">
                    <ul class="scroll_group">
                        <li><img src="https://static-image.xfz.cn/1523588994_243.jpg" alt=""></li>
                        <li><img src="https://static-image.xfz.cn/1523504442_455.png" alt=""></li>
                        <li><img src="https://static-image.xfz.cn/1521444982_469.jpg" alt=""></li>
                        <li><img src="https://static-image.xfz.cn/1522742329_629.png" alt=""></li>
                        <li><img src="https://static-image.xfz.cn/1525669927_166.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="news_show">
                    <div class="news_daohang">
                        <ul>
                            <li><a href="">最新资讯</a></li>
                            <li><a href="">热点</a></li>
                            <li><a href="">深度报道</a></li>
                            <li><a href="">干货分享</a></li>
                            <li><a href="">投资人说</a></li>
                        </ul>
                    </div>
                    <ul class="news_show_list">
                        <li>
                            <div class="news_jianjie">
                                <div class="image_show">
                                    <img src="http://static-image.xfz.cn/1516169692_914.jpg-website.news.list" alt="">
                                </div>
                                <div class="news_content">
                                    <p class="title"><a href="">王健林卖掉进军海外首个项目:17亿售伦敦ONE六成股权</a></p>
                                    <p class="desc">外界关于万达要出售此前在海外投资项目的消息一直不断。</p>
                                    <p class="more">
                                        <span class="category">深度报道</span>
                                        <span class="pub-time">1小时前</span>
                                        <span class="author">知了课堂</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="news_jianjie">
                                <div class="image_show">
                                    <img src="http://static-image.xfz.cn/1516010894_546.jpg-website.news.list" alt="">
                                </div>
                                <div class="news_content">
                                    <p class="title"><a href="http://localhost:3000/templates/news/news_detail.html">张小龙演讲全文：小程序、公众号将会有哪些变化？</a></p>
                                    <p class="desc">我认为探索线下的精彩生活，这是我们下一步想要尝试的一个方向。</p>
                                    <p class="more">
                                        <span class="category">热点</span>
                                        <span class="pub-time">2小时前</span>
                                        <span class="author">知了课堂</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="more_butten">
                    <button>加载更多</button>
                </div>
            </div>
            <div class="right_wrapper">
                <div class="title_group">
                    <span class="title_name">在线课堂</span>
                    <span class="more">更多</span>
                </div>
                <div class="advertis">
                    <img src="http://www.xfz.cn/static/build/images/side-gift-banner.png" alt="">
                </div>
                <div class="title_group">
                    <span class="title_name">关注小饭桌</span>
                </div>
                <div class="attention">
                    <ul class="attention_left">
                       <li class="zhihu"><a href="">小饭桌创业课堂</a></li>
                       <li class="weibo"><a href="">新浪小饭桌</a></li>
                       <li class="xiaofanzhuo"><a href="">小饭桌</a></li>
                    </ul>
                    <div class="attention_right">
                        <p class="shuoming">扫码关注小饭桌微信公众平台xfz008</p>
                    </div>
                </div>
                <div class="title_group">
                    <span class="title_name">热门推荐</span>
                </div>
                <div class="news_recomment">
                    <div class="left_shows">
                        <p class="title">王健林卖掉进军海外首个项目:17亿售伦敦ON...</p>
                        <p class="more">
                            <span class="fenlei">深度报道</span>
                            <span class="pum_time">1小时前</span>
                        </p>
                    </div>
                    <div class="right_shows">
                        <a href=""><img src="http://static-image.xfz.cn/1516169692_914.jpg-website.news.list" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}