<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <style>
        #tijiao{
            background: #5c87d9;
        }
        .disabled{
            background: red;
        }
    </style>
</head>
<body>
<input  type="submit" value="提交" id="tijiao">
<script>
    $("#tijiao").click(function () {
        var count=10;
        var tijiao = $("#tijiao");
        var time=setInterval(function () {
            tijiao.val(count);
            tijiao.attr("disabled",true;"background","red");
            count--;
            if(count<0){
                clearInterval(time)
            }
        },1000)
    })
</script>

</body>
</html>